*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-size: 16px;
  font-family: 'Circular Std Book', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1222px;
  padding: 0 1em;
}

h1, h2, h3 {
  font-weight: normal;
  margin: 0 0 0.25em;
}

h2 {
  color: #333741;
  font-family: 'Circular Std', 'Circular Std Book', sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 30px;
  text-transform: uppercase;
}

h3 {
  color: #4746D4;
  font-size: 35px;
  line-height: 45px;
}

p {
  color: #858B9B;
  margin-bottom: 1em;
}
